@import "../../../styles/variables.scss";

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-image: url('/assets/svg/'); /* Substitua pelo caminho correto da sua imagem */
    background-size: cover; /* Faz com que a imagem cubra toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    background-color: #094e09; /* Fundo verde escuro */
    color: rgb(182, 25, 25); /* Opcional: ajusta a cor do texto para branco */
    
    section {
        height: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* Ajustando a primeira section */
    .hero-section {
        display: flex;
        justify-content: space-between; /* Garante que o conteúdo de texto e o vídeo fiquem afastados */
        align-items: center;
        padding: 50px;
        background-color: #edeeed;
        width: 100%; /* Faz com que a hero-section ocupe toda a largura disponível */
        gap: 0; /* Remove qualquer espaço extra entre os elementos */
    }
      
      .hero-content {
        flex: 1;  /* Faz o conteúdo de texto ocupar metade da tela */
        max-width: 50%; /* Garante que o texto não ultrapasse 50% da tela */
      }

      .hero-content h1 {
        font-size: 2.5rem;
        color: #2a2a2a;
      }
      
      .hero-content p {
        font-size: 1.2rem;
        margin-top: 15px;
        color: #555;
      }
      
      .cta-button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #66c005;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .hero-image {
        flex: 1;  /* Faz o vídeo ocupar metade da tela */
        max-width: 50%; /* Garante que o vídeo não ultrapasse 50% da tela */
        display: flex;
        justify-content: center; /* Centraliza o vídeo horizontalmente */
        align-items: center; /* Centraliza o vídeo verticalmente */
    }
    
 
  
}
