<main>
   
        <div class="hero-section">
            <div class="hero-content">
                <h1>AgroFertil Agricultura inteligente!</h1>
                <p>Imagens atuais da plantação serão comparadas com um banco de dados contendo imagens digitalizadas de
                    plantações saudáveis. Utilizando modelos matemáticos baseados em inteligência artificial (IA),
                    ensinaremos o sistema a detectar infestações de pragas através das imagens capturadas por drones e
                    satélite.
                </p>
                <button class="cta-button">Conheça o nosso trabalho</button>
            </div>
            <div class="hero-image">
              
                <div class="video-right">
                    <!-- Video do YouTube com autoplay ativado -->
                    <iframe width="150%" height="300" src="https://www.youtube.com/embed/nguVp16j6qA?autoplay=1"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
  
</main>