<main>
    <section class="form-section">
        <img src="/assets/svg/"/>
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button 
                class="btn-primary" 
                (click)="submit()"
                [disabled]="disablePrimaryBtn"
            >
                {{ primaryBtnText }}
            </button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
        </div>
    </section>

    <!-- Segunda section com texto à esquerda e vídeo à direita -->
    <section class="main-section">
        <div class="text-left">
            <h1>AgroFertil Agricultura inteligente!</h1>
            <p>Coloque seu texto descritivo aqui, à esquerda, enquanto o vídeo é exibido à direita. Isso pode ser uma descrição do conteúdo do vídeo ou qualquer outro texto relevante.</p>
        </div>
        <div class="video-right">
            <!-- Video do YouTube com autoplay ativado -->
            <iframe width="100%" height="315" 
                src="https://www.youtube.com/embed/nguVp16j6qA?autoplay=1" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>
    </section>
</main>
