<header>
    <img src="/assets/svg/logo-agrofertil.svg" alt="Logo AgroFertil" class="logo-header" />
  </header>
  
  <section class="insight-details">
    <h2>Insight</h2>
    <p><strong>Sua terra plantada é de 2 H.A.</strong></p>
    <p>Existe uma desnutrição na sua região Centro-Oeste, representada pela coloração vermelha.</p>
    <p>Utilizando o insumo <strong>“****”</strong> em uma dosagem próxima a <strong>“******”</strong>, é possível controlar essa desnutrição e melhorar em <strong>“**%”</strong> sua safra.</p>
  </section>
  
  <section class="insight-actions">
    <button class="btn-primary">Orientação I.A.</button>
    <button class="btn-primary">Minha Terra I.A.</button>
  </section>
  
