.insights-section {
    font-family: "Poppins", sans-serif;
    padding: 2rem;
    background-color: #fff;
    color: #333;
    text-align: center;
}

.logo-header {
    max-width: 150px;
    margin-bottom: 2rem;
}

.insight-details {
    background: #f0f0f0;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.insight-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-primary {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #45a049; /* Tom mais escuro ao passar o mouse */
}
